@font-face {
  font-family: DS-DIGI;
  src: url(./fonts/DS-DIGI.TTF);
}

@font-face {
  font-family: DS-DIGI;
  font-weight: bold;
  src: url(./fonts/DS-DIGIB.TTF);
}

button {
  padding: 0;
  margin: 0;
  background-color: transparent;
  border: none;
}

.App {
  position: relative;
  height: 148px;
  width: 308px;
  background-image: url(./images/Body.png);
  font-family: DS-DIGI, sans-serif;
}

.clock {
  position: absolute;
  top: 39.5%;
  left: 17.5%;
  transform: translate(-50%, -50%);
}

.min-hrs {
  position: absolute;
  top: 39.5%;
  left: 56%;
  color: white;
}

.buttons-block {
  display: flex;
  gap: 2px;
  position: absolute;
  top: 19.5%;
  left: 75.7%;
}

.power-button {
  position: absolute;
  top: 52%;
  left: 83.5%;
  transform: translate(-50%, -50%);
}

.toggler {
  position: absolute;
  display: flex;
  justify-content: flex-start;
  width: 27px;
  top: 71%;
  left: 15.6%;
}

.toggler--hrs {
  position: absolute;
  display: flex;
  justify-content: flex-end;
  width: 27px;
  top: 71%;
  left: 15.6%;
}

/* .range {
  position: absolute;
  top: 70.5%;
  left: 37%;
  width: 165px;
  height: 5px;
} */

.range {
  position: absolute;
  top: 70.5%;
  left: 37%;
  width: 165px;
  height: 5px;
  -webkit-appearance: none;
  background: none;
}

.range::-webkit-slider-runnable-track {
  height: 5px;
  -webkit-appearance: none;
  margin-top: -1px;
  border-radius: 10px/100%;
}

.range::-webkit-slider-thumb {
  transform: translateY(-25%);
  width: 15px;
  -webkit-appearance: none;
  height: 15px;
  background: url("./images/toggle.png");
}

.range-back {
  overflow: hidden;
  position: absolute;
  top: 70.5%;
  left: 37%;
  width: 165px;
  height: 5px;
  -webkit-appearance: none;
  background: none;
  border-radius: 5px;
}

.range-back::-webkit-slider-runnable-track {
  height: 10px;
  -webkit-appearance: none;
  color: #13bba4;
  margin-top: -1px;
}

.range-back::-webkit-slider-thumb {
  width: 5px;
  -webkit-appearance: none;
  height: 10px;
  background: #434343;
  box-shadow: -80px 0 0 80px #43e5f7;
}

.range-back::-moz-range-progress {
  background-color: #43e5f7;
}

.range-back::-moz-range-track {
  background-color: transparent;
}

.range-back::-ms-fill-lower {
  background-color: #43e5f7;
}

.range-back::-ms-fill-upper {
  background-color: transparent;
}
