.Digit {
  display: block;
  width: 20px;
  text-align: end;
  font-size: 40px;
  color: white;
  text-shadow: 0 0 5px #8ddce0, 0 0 10px #8ddce0, 0 0 15px #8ddce0, 0 0 20px #8ddce0, 0 0 30px #8ddce0;
}

