$color-blue: #8ddce0;

.Slider {
  height: 17px;
  width: 168px;
  background-image: url(../../images/slider.png);
}

.Slider__range {
  position: relative;
  top: -24px;
  width: 165px;
  height: 5px;
  -webkit-appearance: none;
  background: none;

  &:hover {
    cursor: pointer;
  }

  &::-webkit-slider-runnable-track {
    height: 5px;
    -webkit-appearance: none;
    margin-top: -1px;
    border-radius: 10px/100%;
  }

  &::-webkit-slider-thumb {
    transform: translateY(-25%);
    width: 15px;
    -webkit-appearance: none;
    height: 15px;
    background: url(../../images/toggler.png);
  }
}

.Slider__range-back {
  position: relative;
  top: -7px;
  left: 1px;
  overflow: hidden;
  width: 165px;
  height: 5px;
  -webkit-appearance: none;
  background: none;
  border-radius: 5px;

  &::-webkit-slider-runnable-track {
    height: 10px;
    -webkit-appearance: none;
    color: $color-blue;
    margin-top: -1px;
  }

  &::-webkit-slider-thumb {
    width: 5px;
    -webkit-appearance: none;
    height: 10px;
    background: #434343;
    box-shadow: -80px 0 0 80px $color-blue;
  }

  &::-moz-range-progress {
    background-color: $color-blue;
  }

  &::-moz-range-track {
    background-color: transparent;
  }

  &::-ms-fill-lower {
    background-color: $color-blue;
  }

  &::-ms-fill-upper {
    background-color: transparent;
  }
}

_:-ms-fullscreen, :root .Slider__range-back { 
  position: absolute;
  top: -16px;  
  left: 3px;
  width: 160px;

  &::-ms-thumb {
    display: none;
  }

  &::-ms-fill-lower {
    background-color: $color-blue;
    border-radius: 5px;
  }

  &::-ms-track {
    border: none;
    color: transparent;
    background-color: transparent;
  }
}

_:-ms-fullscreen, :root .Slider__range {
  height: 15px; 
  position: absolute;
  top: -21px;

  &::-ms-thumb {
    width: 15px;
    height: 15px;
    background: url(../../images/toggler.png);
    border: none;
  }

  &::-ms-fill-lower {
    display: none;
  }

  &::-ms-track {
    border: none;
    color: transparent;
    background-color: transparent;
  }

  &::-ms-ticks-before {
    color: transparent;
  }
}

@supports (-moz-appearance:none) {
  .Slider__range {
    position: relative;
    top: -22px;

    &::-moz-range-thumb {
      width: 15px;
      height: 15px;
      border: none;
      background-color: transparent;
      background-image: url(../../images/toggler.png);
    }
  }

  .Slider__range-back { 
    position: relative;
    top: -5px;
    width: 155px; 

    &::-moz-range-thumb {
      width: 5px;
      height: 5px;
      border: none;
      background-color: transparent;
    }

    &::-moz-range-progress {           
      height: 5px;
      background-color: $color-blue;
      border-radius: 5px;
    }
  }
}